@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Lexend font to html/body */
html, body {
  font-family: var(--font-lexend), sans-serif;
  background-color: #000;
  color: #fff;
}
@keyframes pulseBar {
  0% { transform: scaleY(0.3); }
  50% { transform: scaleY(1); }
  100% { transform: scaleY(0.3); }
}
