@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply Lexend font to html/body */
html, body {
  font-family: var(--font-lexend), sans-serif;
  background-color: #000;
  color: #fff;
}
